#container {
  width: 100%;
  height: auto; }

.container {
  width: 1170px;
  height: auto;
  margin: 0 auto;
  padding: 10px 20px;
  position: relative; }

#index {
  width: 1170px;
  height: 20px;
  margin-bottom: 10px; }
  #index a:hover {
    text-decoration: underline;
    color: darkred; }

#classify {
  width: 1170px;
  height: 21px;
  margin: 10px 0 0 0;
  line-height: 21px; }

#script {
  width: 80px;
  float: left;
  line-height: 21px; }

#classify ul {
  float: left; }

#classify .active {
  background-color: #cf0f25;
  color: #fff;
  padding: 0px 6px; }

#classify ul li {
  margin: 0 10px;
  float: left;
  font-size: 12px;
  cursor: pointer; }
  #classify ul li a:hover {
    text-decoration: underline;
    color: darkred; }

.container #left {
  width: 100px;
  height: 200px;
  position: fixed;
  right: 0;
  top: 200px;
  padding-left: 10px;
  background: white; }
  .container #left h2 {
    border-bottom: 1px solid lightgray;
    width: 70px;
    padding-bottom: 5px;
    line-height: 20px; }
  .container #left a {
    display: block;
    line-height: 25px; }
  .container #left a:hover {
    text-decoration: underline;
    color: darkred; }
  .container #left #back {
    display: none; }

.container #list {
  width: 1170px;
  height: 500px;
  padding-top: 30px;
  border-bottom: 1px solid lightgray; }
  .container #list #img {
    width: 500px;
    height: 460px;
    position: relative;
    margin-left: 150px;
    float: left; }
    .container #list #img img {
      width: 500px;
      height: 460px;
      position: absolute;
      left: 0;
      top: 0; }
  .container #list #card {
    float: left;
    margin-left: 70px;
    width: 100px; }
    .container #list #card li {
      width: 100px;
      height: 100px;
      margin: 10px; }
      .container #list #card li img {
        width: 100px;
        height: 100px; }
    .container #list #card .border {
      border: 1px solid gray; }
    .container #list #card p .fa {
      color: darkred; }
    .container #list #card p:hover {
      text-decoration: underline;
      color: darkred; }
      .container #list #card p:hover span {
        color: darkred; }

.container #price {
  width: 1170px;
  height: 110px;
  padding-top: 30px; }
  .container #price .price_left {
    width: 340px;
    height: 80px;
    padding-left: 10px;
    float: left; }
    .container #price .price_left h2 {
      text-align: justify; }
    .container #price .price_left span {
      font-size: 12px;
      display: block;
      margin-top: 10px; }
  .container #price .price_cen {
    float: left;
    width: 200px;
    height: 80px;
    text-align: center;
    line-height: 40px;
    margin-top: -10px;
    margin-right: 20px; }
    .container #price .price_cen p {
      width: 200px;
      height: 80px; }
      .container #price .price_cen p .em1 {
        color: #bc002d;
        font-size: 40px;
        font-weight: bold; }
      .container #price .price_cen p .em2 {
        color: #bc002d;
        font-size: 20px; }
      .container #price .price_cen p span {
        color: #bc002d;
        font-size: 20px; }
  .container #price price_right {
    float: left;
    height: 80px;
    width: 650px; }
  .container #price li {
    float: left;
    width: 140px;
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
    border: 1px solid lightgray;
    text-align: center;
    margin-right: 5px; }
  .container #price .color {
    color: #bc002d;
    border: 1px solid #bc002d; }
  .container #price #min, .container #price #max {
    width: 20px;
    height: 20px;
    margin: 15px 5px;
    text-align: center; }
  .container #price #opera {
    width: 40px;
    text-align: center; }
  .container #price #add {
    width: 120px;
    height: 40px;
    background: #bc002d;
    color: white;
    border-radius: 10px;
    border: 1px solid white;
    display: inline-block;
    margin-top: 10px;
    line-height: 40px;
    text-align: center; }

.container .container_good {
  width: 1170px;
  height: 1000px; }

.container #sales {
  width: 350px;
  height: auto;
  float: left; }
  .container #sales .tl {
    font-size: 20px;
    float: left;
    line-height: 15px;
    border-left: 5px solid #bc002d;
    padding-left: 10px;
    margin-left: 20px;
    margin-bottom: 20px; }
  .container #sales li {
    margin: 10px 0; }
    .container #sales li span {
      width: 30px;
      line-height: 30px;
      background: burlywood;
      display: inline-block;
      border-radius: 50%;
      text-align: center;
      color: white;
      margin-left: 20px; }
    .container #sales li a:hover {
      text-decoration: underline;
      color: #bc002d; }
    .container #sales li img {
      width: 150px;
      height: 100px;
      display: none;
      margin-left: 60px; }
    .container #sales li .show {
      display: block; }

#good {
  width: 770px;
  height: 600px;
  float: left;
  margin-left: 20px;
  padding-left: 20px; }
  #good .tl {
    font-size: 20px;
    line-height: 15px;
    border-left: 5px solid #bc002d;
    padding-left: 10px;
    margin-bottom: 20px; }
  #good .tr {
    font-size: 20px;
    line-height: 15px;
    border-left: 5px solid #bc002d;
    padding-left: 10px;
    margin-bottom: 20px;
    margin-top: 40px; }
  #good li {
    width: 770px; }
    #good li span {
      font-size: 14px;
      display: inline-block;
      width: 300px;
      height: 20px; }
    #good li .br {
      margin-left: 80px;
      height: 30px;
      margin-top: 10px;
      text-align: center; }
    #good li .table {
      width: 760px;
      height: 280px; }

.li_ul li {
  font-size: 14px;
  line-height: 20px;
  margin-top: 10px; }

.container #disallow_max, .container #disallow_min {
  width: 200px;
  height: 90px;
  border: 5px solid lightgray;
  position: absolute;
  left: 560px;
  top: 720px;
  text-align: center;
  display: none; }
  .container #disallow_max .sure, .container #disallow_min .sure {
    width: 80px;
    background: rgba(0, 0, 0, 0.1);
    line-height: 30px;
    color: white; }
  .container #disallow_max p, .container #disallow_min p {
    margin-bottom: 20px;
    padding-top: 10px;
    color: #bc002d; }

/*# sourceMappingURL=cakedetails.css.map */
