#container {
  width: 100%;
  height: auto; }

.container {
  width: 1170px;
  height: auto;
  margin: 0 auto;
  padding: 10px 20px; }

#index {
  width: 1170px;
  height: 20px;
  margin-bottom: 10px; }
  #index a:hover {
    text-decoration: underline;
    color: darkred; }

#classify {
  width: 1170px;
  height: 21px;
  margin: 10px 0 0 0;
  line-height: 21px; }

#script {
  width: 80px;
  float: left;
  line-height: 21px; }

#classify ul {
  float: left; }

#classify .active {
  background-color: #cf0f25;
  color: #fff;
  padding: 0px 6px; }

#classify ul li {
  margin: 0 10px;
  float: left;
  font-size: 12px;
  cursor: pointer; }
  #classify ul li a:hover {
    text-decoration: underline;
    color: darkred; }

.container #left {
  width: 100px;
  height: 200px;
  position: fixed;
  right: 0;
  top: 200px;
  padding-left: 10px; }
  .container #left h2 {
    border-bottom: 1px solid lightgray;
    width: 70px;
    padding-bottom: 5px;
    line-height: 20px; }
  .container #left a {
    display: block;
    line-height: 25px; }
  .container #left a:hover {
    text-decoration: underline;
    color: darkred; }
  .container #left #back {
    display: none; }

.container #list {
  width: 1170px;
  height: 500px;
  padding-top: 30px;
  border-bottom: 1px solid lightgray; }
  .container #list #img {
    width: 500px;
    height: 460px;
    position: relative;
    margin-left: 150px;
    float: left; }
    .container #list #img img {
      width: 500px;
      height: 460px;
      position: absolute;
      left: 0;
      top: 0; }
  .container #list #card {
    float: left;
    margin-left: 70px;
    width: 100px; }
    .container #list #card li {
      width: 100px;
      height: 100px;
      margin: 10px; }
      .container #list #card li img {
        width: 100px;
        height: 100px; }
    .container #list #card .border {
      border: 1px solid gray; }
    .container #list #card p .fa {
      color: darkred; }
    .container #list #card p:hover {
      text-decoration: underline;
      color: darkred; }
      .container #list #card p:hover span {
        color: darkred; }

#price {
  width: 1170px;
  height: 400px;
  border: 1px solid red;
  padding-top: 30px; }
  #price .price_left {
    width: 330px;
    height: 80px;
    padding-left: 10px;
    float: left; }
    #price .price_left h2 {
      text-align: justify; }
    #price .price_left span {
      font-size: 12px;
      display: block;
      margin-top: 10px; }
  #price .price_cen {
    float: left;
    width: 200px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    margin-top: -20px;
    position: relative; }
    #price .price_cen p {
      width: 200px;
      height: 80px;
      position: absolute;
      top: 0;
      left: 0; }
      #price .price_cen p span {
        color: #bc002d; }
  #price price_right {
    float: left;
    height: 80px; }
  #price li {
    float: left;
    width: 145px;
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
    border: 1px solid lightgray;
    text-align: center;
    margin-right: 5px; }
  #price .color {
    color: #bc002d;
    border: 1px solid #bc002d; }

/*# sourceMappingURL=cakedetails.css.map */
